# OSA Computation

In this notebook, we explore how the availability KPI is computed.

In [1]:
import sys

sys.path.append('../')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from scripts.compute_osa import compute_osa

## Load Data

In [4]:
filepath = '../data/source/2021 NAI MT & RMT OSA Data (GMA All SKUs).xlsx'
df = pd.read_excel(filepath)
df.head()

,YEAR,MONTH,WEEK,AREA,GROUP,ACCOUNT,OUTLET,Amihan White Vinegar 1L (68),Amihan White Vinegar 2L (69),Amihan White Vinegar 4L (70),...,Locally Pink Guava 1L Tetra Pack,Locally Ripe Mango 1L Tetra Pack (512),UFC Golden Fiesta Canola 1L SUP (553),TOTAL AVAILABILITY,MUST CARRY,NC,OSA,CLASS,MUST CARRY - NC,OSA COMPUTATION
0,2021,JAN,Week 1,GMA,MT 1,LANDMARK,LANDMARK ALABANG (4341),NR,NR,NR,...,NR,NR,NR,85.000000,176,68,0.787037,PARADIGM,108,0.787037
1,2021,JAN,Week 1,GMA,MT 1,LANDMARK,LANDMARK MAKATI (53),NR,NR,NR,...,7,7,NR,97.714286,176,59,0.835165,PARADIGM,117,0.835165
2,2021,JAN,Week 1,GMA,MT 1,LANDMARK,LANDMARK TRINOMA (54),NR,NR,NR,...,7,7,NR,108.000000,176,59,0.923077,PARADIGM,117,0.923077
3,2021,JAN,Week 1,GMA,MT 1,ROBINSONS,JAYNITHS SUPERMART PASIG (3368),NR,NR,NR,...,7,7,NR,55.428571,176,118,0.955665,REGULAR,58,0.955665
4,2021,JAN,Week 1,GMA,MT 1,ROBINSONS,JAYNITHS SUPERMART SAN MATEO (3373),NR,NR,NR,...,0,7,NR,54.142857,176,116,0.902381,REGULAR,60,0.902381

## Compute OSA per Outlet

In [5]:
df_osa = compute_osa(df)
df_osa.head()

,YEAR,MONTH,WEEK,AREA,GROUP,ACCOUNT,OUTLET,OSA
0,2021,JAN,Week 1,GMA,MT 1,LANDMARK,LANDMARK ALABANG (4341),0.787037
1,2021,JAN,Week 1,GMA,MT 1,LANDMARK,LANDMARK MAKATI (53),0.835165
2,2021,JAN,Week 1,GMA,MT 1,LANDMARK,LANDMARK TRINOMA (54),0.923077
3,2021,JAN,Week 1,GMA,MT 1,ROBINSONS,JAYNITHS SUPERMART PASIG (3368),0.955665
4,2021,JAN,Week 1,GMA,MT 1,ROBINSONS,JAYNITHS SUPERMART SAN MATEO (3373),0.902381